* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    color: #305F6D;
}

a,
a:visited,
a:hover,
a:active {
    text-decoration: none;
}

.title {
    font-family: 'Sunflower', sans-serif;
    font-weight: 700;
    color: #305F6D;
}

.description {
    color: #8CA0A6;
    font-size: 16px;
    line-height: 26px;
}

.link,
.link:visited,
.link:active,
.link:hover {
    color: #46B4D4;
}


/** HEADER **/

.header {
    max-width: 1304px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

.navigation-panel {
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 191px;
    margin-top: 45px;
}

.navigation-links {
    font-family: 'Sunflower', sans-serif;
    font-weight: 700;
    margin-top: 51px;
}

.navigation-link,
.navigation-link:visited {
    padding-right: 70px;
    color: #305F6D;
}

.navigation-link:hover,
.navigation-link:active {
    color: #46B4D4;
}

.navigation-link:last-child {
    padding-right: 0px;
}

.inner-header {
    display: flex;
    justify-content: center;
}

.header-info {
    width: 1110px;
    height: 537px;
}

.header-map {
    background-image: url('./img/map.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.inner-header-map {
    max-width: 1110px;
    height: 537.15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-title {
    font-size: 42px;
}

.header-text {
    max-width: 398px;
}

.header-image-cover {
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 454px;
    transform: rotate(-20.26deg);
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.header-image {
    max-width: 511px;
}


/** /HEADER**/


/**FUNCTIONALITY AND FEATURES**/

.functionality {
    background: linear-gradient(180deg, #F5FBFD -2.67%, rgba(245, 251, 253, 0) 100%);
}

.inner-functionality {
    max-width: 1104px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin: auto;
}

.features-title {
    padding-top: 60px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 28px;
    color: #8CA0A6;
    text-align: center;
    line-height: 26px;
    letter-spacing: 0.03em;
}

.features {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

.feature-block {
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.feature-image {
    display: block;
    margin: auto;
    width: 160px;
}

.feature-image-caption {
    font-family: 'Sunflower', sans-serif;
    line-height: 22px;
    font-weight: 500;
    color: #305F6D;
    text-align: center;
    margin-top: 31px;
}


/** /FUNCTIONALITY AND FEATURES **/


/** PLANS **/

.plans {
    max-width: 1104px;
    min-height: 565px;
    display: flex;
    justify-content: space-around;
    margin: auto;
    background-color: #ffffff;
    box-shadow: 0px 27px 80px rgba(25, 141, 203, 0.07), 0px 6.0308px 17.869px rgba(25, 141, 203, 0.0417275), 0px 1.79553px 5.32008px rgba(25, 141, 203, 0.0282725);
    border-radius: 15px;
    margin-top: 60px;
}
.plan-image-block {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.plan-image {
    width: 100%;
    margin-top: 59px;
}

.plans-title {
    font-weight: 700px;
    font-size: 28px;
    line-height: 35px;
    margin-top: 59px;
    margin-bottom: 5px;
}

.question {
    font-size: 18px;
    line-height: 25px;
    margin-top: 24px;
    margin-bottom: 16px;
}
.buttons-block {
    display: flex;
    flex-wrap: wrap;
    
}
.button {
    padding: 5px 20px;
    border: 1px solid #D6E8F0;
    border-radius: 6px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #8CA0A6;
    
}

.button:hover {
    padding: 5px 20px;
    border: 1px solid #D6E8F0;
    border-radius: 6px;
    margin-right: 15px;
    font-size: 14px;
    line-height: 25px;
    color: #ffffff;
    background: #22CBFF;
}


/** /PLANS **/


/** PARTNERS **/

.title-partners {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
    margin-top: 110px;
    margin-bottom: 64px;
    font-size: 28px;
    line-height: 30px;
    letter-spacing: 0.03em;
    color: #8CA0A6;
}

.partners-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 70px;
}

.partner-logo-block {
    flex: 0 0 17%;
}

.partner-logo {
    align-items: start;
}

.container {
    max-width: 1120px;
    width: 100%;
    margin: 0 auto;
}
/** /PARTNERS **/



/** OUR FEATURES **/
.our-features {
    background: #F5FBFD;
}
.inner-our-features {
    max-width: 1104px;
    margin: auto;
}
.title-features {
    padding-top: 60px;
    text-align: center;
    font-size: 36px;
    line-height: 45px;
}
.features-description {
    font-size: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #8CA0A6;
    padding-top: 25px;
}
.dropdown-blocks {
    margin-top: 68px;
    padding-bottom: 100px;
}
.dropdown-block {
    border-top: 1px solid #8B9FA6;
    padding-top: 30px;
    padding-bottom: 30px;
}
.inner-dropdown-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.dropdown-title {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    letter-spacing: 0.03em;
    margin-left: 30px;
}
.dropdown-button {
    width: 16px;
    margin-right: 25px;
}
.hidden-dropdown-block {
    display: none;
    padding-top: 30px;
}
/** /OUR FEATURES **/


/** FOOTER **/

.footer {
    background-color: #485053;
    height: 110px;
}
.inner-footer {
    max-width: 1104px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    height: 110px;
}
.footer-logo-image {
    width: 125px;
}
.footer-social-image {
    width: 23px;
    margin-right: 13px;
}
/** /FOOTER **/


/** MOBILE **/
#menu__toggle {
    opacity: 0;
  }

@media only screen and (max-width : 920px) {
    
      .menu__btn {
        display: flex; 
        align-items: center; 
        position: relative;
        top: 40px;
        right: 50px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #616161;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      .navigation-links {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        right: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 85px 0;
        text-align: center;
        background-color: #ECEFF1;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      }
      .navigation-link {
        display: block;
        padding: 12px 24px;
        color: #333;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
      }
      .navigation-link:hover {
        background-color: #CFD8DC;
      }
      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .navigation-links {
        visibility: visible;
        right: 0;
      }
      .header-image-cover, .header-image {
          max-width: 350px;
      }
      .feature-block {
          width: 50%;
          text-align: center;
          align-items: center;
          padding-bottom: 40px;
      }
      .button {
        margin-bottom: 15px;
        
    }
      

}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    
}
